**/*.egg
**/*.egg-info/
**/*.log
**/*.manifest
**/*.mo
**/*.pot
**/*.py[cod]
**/*.so
**/*.spec
**/*.swp
**/*.txt
**/*.yaml
**/*.yml
**/*/*.py[cod]
**/*/*.swp
**/*/*/*.py[cod]
**/*/*/*.swp
**/*/*/*/*.py[cod]
**/*/*/*/*.swp
**/*/*/*/.ropeproject
**/*/*/*/__pycache__/
**/*/*/.ropeproject
**/*/*/__pycache__/
**/*/.ropeproject
**/*/__pycache__/
**/.AppleDouble
**/.DS_Store
**/.LSOverride
**/.Python
**/.cache
**/.circleci
**/.coverage
**/.dockerignore
**/.env
**/.env.*
**/.env/
**/.git
**/.gitignore
**/.hokusai-tmp
**/.idea
**/.installed.cfg
**/.pytest_cache
**/.python-version
**/.ropeproject
**/.secrets.baseline
**/.tox/
**/.venv/
**/Dockerfile
**/LICENSE
**/README.md
**/VERSION
**/__pycache__/
**/build/
**/coverage.xml
**/develop-eggs/
**/dist/
**/docs/_build/
**/downloads/
**/eggs/
**/env
**/env/
**/hokusai
**/htmlcov/
**/log
**/nosetests.xml
**/parts/
**/pip-delete-this-directory.txt
**/pip-log.txt
**/sdist/
**/target/
**/tmp
**/var/
**/venv/
