!.env.example
*.egg
*.egg-info/
*.log
*.mo
*.pot
*.py[cod]
*.so
*.swp
*.txt
*/*.py[cod]
*/*.swp
*/*/*.py[cod]
*/*/*.swp
*/*/*/*.py[cod]
*/*/*/*.swp
*/*/*/.ropeproject
*/*/*/__pycache__/
*/*/.ropeproject
*/*/__pycache__/
*/.ropeproject
*/__pycache__/
.AppleDouble
.DS_Store
.LSOverride
.Python
.cache
.coverage
.env
.env.*
.env/
.hokusai-tmp
.idea
.installed.cfg
.ropeproject
.tox/
.venv/
__pycache__/
develop-eggs/
dist/
docs/_build/
downloads/
eggs/
env
env/
htmlcov/
lib/
lib64/
log
nosetests.xml
parts/
pip-delete-this-directory.txt
pip-log.txt
sdist/
target/
tmp
var/
venv/
!src/lib
