# ignore __ files/dirs. such as __pycache__
__*

# ignore env files.
.env*

# don't ignore .gitignore
!/.gitignore

# ignore Yaml files
*.yml
*.yaml

# ignore .txt files as they are likely used as input to scripts
*.txt

# don't ignore rubyrep ymls
!rubyrep*.yml

# don't ignore dnstest.yml
!dnstest.yml

# don't ignore .env.example
!.env.example

# don't ignore files in hokusai dir
!hokusai/*
